<!DOCTYPE html>
<html>
<head>
  <title>RailsHtml5Player</title>
  <%= stylesheet_link_tag    "rails_html5_player/application", media: "all" %>
  <%= javascript_include_tag "rails_html5_player/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
